In [53]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [54]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import svm

In [55]:
data = pd.read_csv("/content/drive/MyDrive/ANN_Data/seeds_dataset.txt",lineterminator='\n',sep='\t+|\t\t', header=None)
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

         0      1       2      3      4      5      6  7
0    15.26  14.84  0.8710  5.763  3.312  2.221  5.220  1
1    14.88  14.57  0.8811  5.554  3.333  1.018  4.956  1
2    14.29  14.09  0.9050  5.291  3.337  2.699  4.825  1
3    13.84  13.94  0.8955  5.324  3.379  2.259  4.805  1
4    16.14  14.99  0.9034  5.658  3.562  1.355  5.175  1
..     ...    ...     ...    ...    ...    ...    ... ..
205  12.19  13.20  0.8783  5.137  2.981  3.631  4.870  3
206  11.23  12.88  0.8511  5.140  2.795  4.325  5.003  3
207  13.20  13.66  0.8883  5.236  3.232  8.315  5.056  3
208  11.84  13.21  0.8521  5.175  2.836  3.598  5.044  3
209  12.30  13.34  0.8684  5.243  2.974  5.637  5.063  3

[210 rows x 8 columns]

In [56]:
data = data.sample(frac=1).reset_index(drop=True)
data

         0      1       2      3      4      5      6  7
0    18.36  16.52  0.8452  6.666  3.485  4.933  6.448  2
1    18.65  16.41  0.8698  6.285  3.594  4.391  6.102  2
2    12.30  13.34  0.8684  5.243  2.974  5.637  5.063  3
3    14.69  14.49  0.8799  5.563  3.259  3.586  5.219  1
4    16.63  15.46  0.8747  6.053  3.465  2.040  5.877  1
..     ...    ...     ...    ...    ...    ...    ... ..
205  14.03  14.16  0.8796  5.438  3.201  1.717  5.001  1
206  20.10  16.99  0.8746  6.581  3.785  1.955  6.449  2
207  20.20  16.89  0.8894  6.285  3.864  5.173  6.187  2
208  15.26  14.85  0.8696  5.714  3.242  4.543  5.314  1
209  15.01  14.76  0.8657  5.789  3.245  1.791  5.001  1

[210 rows x 8 columns]

In [103]:
y = data[7]-1
X = data.iloc[: , :-1]
scaler = MinMaxScaler(feature_range=[0, 1])
X = scaler.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=49)

In [104]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(168, 7)
(168,)
(42, 7)
(42,)

In [105]:
clf = svm.SVC(kernel='linear', C = 2**32)

In [106]:
clf.fit(X_train,y_train)

SVC(C=4294967296, break_ties=False, cache_size=200, class_weight=None,
    coef0=0.0, decision_function_shape='ovr', degree=3, gamma='scale',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [107]:
predictions = clf.predict(X_test)
predictions

array([2, 1, 1, 0, 2, 1, 0, 1, 1, 0, 1, 0, 2, 2, 2, 0, 2, 2, 0, 2, 1, 1,
       1, 1, 1, 0, 0, 2, 1, 0, 0, 2, 1, 0, 1, 0, 0, 0, 2, 2, 2, 1])

In [108]:
accuracy_score(y_test, predictions)

0.9761904761904762